*{
	box-sizing: border-box ;
}

.head{
	display:flex;
	background-color: #F7B6BD;
	
}

#logo{
	height: 90px; 
	width: 100px; 
	margin-left: 5px; 
	margin-top: 5px;
	margin-bottom:5px;
	
}

#username{
	margin-left:70%;
	margin-top: 50px;
}

#profile{
	height: 90px; 
	width: 100px; 
	margin-left:10px;
	margin-top:5px;
}

.container{
	display:flex;
}

.left{
	width:20%;
	background-color: #F7D1D5;
	height: 650px;
	font-size: 24px;
}

.right{
	width:80%;
	background-color:#F7DDE0;
	height: 550px;
}

.container1{
	display:flex;
}

.inner-left{
	width:30%;
	height:475px;
	
}

.inner-right{
	width: 70%;
	height:475px;
	
}

a {
	margin-top: 20px;
}

h3{
	font-size:24px;
	font-weight:bolder;
}

#badminton{
	height:470px;
	width: 371px;
}
p{
	font-size:18px;
}
.right-bottom{
	background-color:#7EBAF0;
	padding:10px;
	float:right;
	margin-top: 65px;
}